@width: 1150px;
@config_panel_scale: 0.8;
@config_panel_original_width: 940px;
@config_panel_original_height: 705px;
@margin: 20px;

.config_panel {
  position: relative;
  left: 0px;
  top: 0px;
  width: @config_panel_original_width * @config_panel_scale;
  float: left;
}

.config_panel_background {
  -webkit-transform: scale(@config_panel_scale);
  -webkit-transform-origin: 0px 0px;
  -moz-transform: scale(@config_panel_scale);
  -moz-transform-origin: 0px 0px;
  transform: scale(@config_panel_scale);
  transform-origin: 0px 0px;
  border-radius: 10px * @config_panel_scale;
  -webkit-border-radius: 10px * @config_panel_scale;
  -moz-border-radius: 10px * @config_panel_scale;
}

.config_properties {
  left: 217px * @config_panel_scale;
  top: 77px * @config_panel_scale;
  width: 702px * @config_panel_scale;
  height: 509px * @config_panel_scale;
  position: absolute;
  overflow-y: auto;
}

.config_panel_contents {
  left: 19px * @config_panel_scale;
  top: 77px * @config_panel_scale;
  width: 184px * @config_panel_scale;
  height: 574px * @config_panel_scale;
  border: solid 1px;
  border-color: transparent;
  overflow: auto;
  position: absolute;
}

.config_property {
  position: absolute;
  left: 1px;
  top: 1px;
}

.config_property_background {
  overflow: hidden;
  transform: scale(@config_panel_scale);
  transform-origin: 0px 0px;
  -webkit-transform: scale(@config_panel_scale);
  -webkit-transform-origin: 0px 0px;
  -moz-transform: scale(@config_panel_scale);
  -moz-transform-origin: 0px 0px;
  left: 0px;
  top: 0px;
}

.description_select_button, .page_select_button {
  transition: all 0.1s;
  opacity: 0.4;
  background-color: purple;
  left: 20px * @config_panel_scale;
  position: absolute;
  border: solid 1px;
  border-color: transparent;
  cursor: pointer;
  overflow: hidden;
}

.description_select_button {
  width: 680px * @config_panel_scale;
}

.page_select_button {
  width: (240px - 20px) * @config_panel_scale;
  height: 18px * @config_panel_scale;
}

.config_panel_contents_background_container {
  width: 240px * @config_panel_scale;
  height: 817px * @config_panel_scale;
  overflow: hidden;
}

.config_panel_contents_background {
  -webkit-transform: scale(@config_panel_scale);
  -webkit-transform-origin: 0px 0px;
  -moz-transform: scale(@config_panel_scale);
  -moz-transform-origin: 0px 0px;
  transform: scale(@config_panel_scale);
  transform-origin: 0px 0px;
}

.bs-docs-docs {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  float: left;
  width: 100%;
}

.n_code {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: @margin;
  width: @width - @config_panel_original_width * @config_panel_scale - @margin;
  float: left;
}

.n_code pre {
  min-width: @width - @config_panel_original_width * @config_panel_scale - @margin;
}

img {
  max-width: 1000% !important;  
}

body {
  padding-top: 62px;
}

.main {
  width: 100%;
  height: 100%;
}

.bs-docs-docs .navbar.metro-navbar .brand {
  line-height: 20px;
  width: 300px;
}

.bs-docs-docs .navbar.metro-navbar .brand small {
   font-size: 15px;
   line-height: 25px;
   display: block;
}

.bs-docs-docs .navbar-inner .container {
  width: @width;
}

#doc-container {
  position: relative;
  padding: @margin @margin;
  width: @width;
}

div .config_panel {
  width: @config_panel_original_width * @config_panel_scale;
  height: @config_panel_original_height * @config_panel_scale;
  float: left;
}

div .description {
  position: absolute;
}

div .page {
  position: absolute;
  visibility: hidden;
}

.selected_button, .description_select_button:hover, .page_select_button:hover {
  background-color: orange;
}
